Flask==2.3.3
Flask-CORS==4.0.0
gunicorn==21.2.0
httpx==0.27.2
SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
eth-account==0.11.3
Pillow==10.4.0
supabase==2.6.0
python-dotenv==1.0.0
websockets==12.0
web3==6.11.1
eth-bloom==3.0.0
hexbytes>=0.1.0,<0.4.0
rlp==4.0.0
